{{define "post_detail"}}
<h1>投稿詳細</h1>
<hr>
<h2>投稿</h2>
<p>投稿者: {{ .ParentPost.UserName }}</p>
<p>{{ .ParentPost.Post.Content }}</p>
<a href="/posts/{{.ParentPost.Post.ID}}">詳細</a>
<a href="/posts/{{.ParentPost.Post.ID}}/edit">編集</a>
<form action="/posts/delete/{{.ParentPost.Post.ID}}" method="post">
  <input type="submit" value="削除">
</form>
<hr>
<h2>スレッド</h2>
<hr>
{{ range .ChildPosts }}
<p>投稿者: {{ .UserName }}</p>
<p>{{ .Post.Content }}</p>
<a href="/posts/{{.Post.ID}}">詳細</a>
<a href="/posts/{{.Post.ID}}/edit">編集</a>
<form action="/posts/delete/{{.Post.ID}}" method="post">
  <input type="submit" value="削除">
</form>
<hr>
{{ end }}
<form action="/posts/{{.ParentPost.Post.ID}}" method="post">
  <label>内容</label>
  <input type="text" name="content">
  <input type="submit" value="作成">
</form>
<a href="/posts">投稿一覧に戻る</a>>
{{end}}