{{define "post_detail"}}
<h1>投稿詳細</h1>
<hr>
<h2>元投稿</h2>
<p>{{(index .ParentPost 0).Content}}</p>
<a href="/posts/{{(index .ParentPost 0).ID}}">詳細</a>
<a href="/posts/{{(index .ParentPost 0).ID}}/edit">編集</a>
<form action="/posts/delete/{{(index .ParentPost 0).ID}}" method="post">
  <input type="submit" value="削除">
</form>
<hr>
<h2>子投稿</h2>
{{ range .ChildPosts }}
<p>{{ .Content }}</p>
<a href="/posts/{{.ID}}">詳細</a>
<a href="/posts/{{.ID}}/edit">編集</a>
<form action="/posts/delete/{{.ID}}" method="post">
  <input type="submit" value="削除">
</form>
<hr>
{{ end }}
<form action="/posts/{{(index .ParentPost 0).ID}}" method="post">
  <label>内容</label>
  <input type="text" name="content">
  <input type="submit" value="作成">
</form>
<a href="/posts">投稿一覧に戻る</a>>
{{end}}